<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>CFBundleExecutable</key><string>HealthFS</string>
  <key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
  <key>CFBundleName</key><string>HealthFS</string>
  <key>CFBundlePackageType</key><string>XPC!</string>
  <key>CFBundleShortVersionString</key><string>1.0</string>
  <key>CFBundleVersion</key><string>1</string>
  <key>LSMinimumSystemVersion</key><string>26.0</string>
  <key>EXAppExtensionAttributes</key><dict>
    <key>EXExtensionPointIdentifier</key><string>com.apple.fskit.fsmodule</string>
    <key>FSShortName</key><string>healthfs</string>
    <key>FSSupportsBlockResources</key><false/>
    <key>FSSupportsGenericURLResources</key><false/>
    <key>FSSupportsPathURLs</key><true/>
    <key>FSRequiresSecurityScopedPathURLResources</key><false/>
    <key>FSActivateOptionSyntax</key><dict>
      <key>shortOptions</key><string>o:</string>
    </dict>
    <key>FSMediaTypes</key><dict/>
    <key>FSPersonalities</key><dict/>
  </dict>
</dict></plist>
